@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* styles.categoria-produto.css */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 50rem; /* Equivalent to 800px */
  margin: 0 auto;
  padding: 1.25rem; /* Equivalent to 20px */
  background-color: #fff;
  border-radius: 0.3125rem; /* Equivalent to 5px */
  box-shadow: 0px 0px 0.625rem rgba(0, 0, 0, 0.1); /* Equivalent to 10px */
}

h1 {
  text-align: center;
  margin-bottom: 1.25rem; /* Equivalent to 20px */
}

h2 {
  margin-top: 1.25rem; /* Equivalent to 20px */
}

.form-container {
  border: 0.0625rem solid #ccc; /* Equivalent to 1px */
  padding: 0.9375rem; /* Equivalent to 15px */
  margin-bottom: 1.25rem; /* Equivalent to 20px */
  border-radius: 0.3125rem; /* Equivalent to 5px */
  background-color: #f9f9f9;
}

.form-container label {
  display: block;
  margin-bottom: 0.3125rem; /* Equivalent to 5px */
}

.form-container input[type="text"],
.form-container input[type="number"],
.form-container select {
  width: 100%;
  padding: 0.625rem; /* Equivalent to 10px */
  margin-bottom: 0.625rem; /* Equivalent to 10px */
  border: 0.0625rem solid #ccc; /* Equivalent to 1px */
  border-radius: 0.1875rem; /* Equivalent to 3px */
  box-sizing: border-box;
}

.btn {
  background-color: #fd1b1b;
  color: #fff;
  padding: 0.625rem 1.25rem; /* Equivalent to 10px 20px */
  border: none;
  cursor: pointer;
  border-radius: 0.1875rem; /* Equivalent to 3px */
  transition: background-color 0.3s ease;
}

/* Button hover style */
.btn:hover {
  background-color: #e60e0e;
}

.list-container {
  background-color: #f9f9f9;
  padding: 0.9375rem; /* Equivalent to 15px */
  border: 0.0625rem solid #ccc; /* Equivalent to 1px */
  border-radius: 0.3125rem; /* Equivalent to 5px */
  max-height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
}

.list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-container li {
  margin-bottom: 0.625rem; /* Equivalent to 10px */
  padding: 0.625rem;
  background-color: #fff;
  border: 0.0625rem solid #ccc;
  border-radius: 0.1875rem;
}

#productInfos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem; /* Equivalent to 10px */
}

.productInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* Reduce border radius for selects */
.form-container select {
  border-radius: 0.125rem; /* Equivalent to 2px */
}

@media (max-width: 37.5rem) {
  /* Equivalent to 600px */
  .container {
    max-width: 100%;
    padding: 0.625rem; /* Equivalent to 10px */
  }
}
