@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* Reset CSS */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #18181b;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

img {
  width: 31rem;
}

#form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  color: #f8fafc;
  background-color: #262626;
  border-radius: 8px;
}

#calculator {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.input-box label {
  font-weight: 500;
  font-size: 1.2rem;
  color: #cbd5e1;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3f3f46;
  padding: 0.3rem;
  border-radius: 4px;
  margin-top: 2px;
}

.input-field input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 1.3rem;
  color: #f8fafc;
  padding: 0 0.5rem;
}

.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
  appearance: none;
}

.unit,
.icon {
  color: #cbd5e1;
  font-size: 1.3rem;
  padding: 0.6rem 1rem;
}
