@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* Reset CSS */
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5; /* Tom suave de branco */
  color: #333333; /* Cor do texto principal */
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 50rem; /* 800px / 16px = 50rem */
  padding: 0 1.25rem; /* 20px / 16px = 1.25rem */
  margin-top: 3.125rem; /* 50px / 16px = 3.125rem */
  margin-bottom: 3.125rem; /* 50px / 16px = 3.125rem */
  background-color: #ffffff; /* Tom suave de branco */
  padding: 3.125rem; /* 50px / 16px = 3.125rem */
  border-radius: 0.75rem; /* 12px / 16px = 0.75rem */
}

#form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.175rem; /* 35px / 16px = 2.175rem */
}

#form input {
  width: 40rem; /* 640px / 16px = 40rem */
  padding: 1rem; /* 16px / 16px = 1rem */
  border-radius: 0.75rem; /* 12px / 16px = 0.75rem */
  border: 1px solid #dddddd; /* Tom suave de cinza */
  background-color: #f5f5f5; /* Tom suave de branco */
  color: #333333; /* Cor do texto principal */
  outline: none;
  font-size: 1.2rem; /* 19px / 16px = 1.2rem */
}

#form button {
  width: 3rem; /* 48px / 16px = 3rem */
  border-radius: 0.75rem; /* 12px / 16px = 0.75rem */
  border: 1px solid #dddddd; /* Tom suave de cinza */
  background-color: #f5f5f5; /* Tom suave de branco */
  color: #333333; /* Cor do texto principal */
  outline: none;
  font-size: 1.25rem; /* 20px / 16px = 1.25rem */
}

#form button:hover {
  background-color: #f0f0f0; /* Tom ainda mais suave de cinza */
  cursor: pointer;
  transition: 0.3s;
}

#list {
  list-style-type: none;
}

#list li {
  padding: 1.25rem; /* 20px / 16px = 1.25rem */
  background-color: #f5f5f5; /* Tom suave de branco */
  border-radius: 0.75rem; /* 12px / 16px = 0.75rem */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem; /* 8px / 16px = 0.5rem */
}

.action {
  border-radius: 1.25rem; /* 20px / 16px = 1.25rem */
  border: 1px solid #dddddd; /* Tom suave de cinza */
  width: 3rem; /* 48px / 16px = 3rem */
  height: 3rem; /* 48px / 16px = 3rem */
  background-color: #f5f5f5; /* Tom suave de branco */
  color: #333333; /* Cor do texto principal */
  cursor: pointer;
  margin-right: 0.5rem; /* 8px / 16px = 0.5rem */
}

.action:hover {
  background-color: #f0f0f0; /* Tom ainda mais suave de cinza */
  transition: 0.3s;
}

.remove {
  background-color: #ff0000; /* Vermelho */
  color: #f0f0f0; /* Branco */
}

.remove:hover {
  background-color: #bd1515; /* Vermelho mais escuro */
  transition: 0.3s;
}

.edit {
  background-color: #007bff; /* Azul */
  color: #f0f0f0; /* Branco */
}

.edit:hover {
  background-color: #0069d9; /* Azul mais escuro */
  transition: 0.3s;
}

.taskDone {
  color: #f0f0f0; /* Cor do texto principal */
  font-weight: bold;
  background-color: #18af4d; /* Verde */
}

.taskDone:hover {
  background-color: #1ac54f; /* Verde mais escuro */
  transition: 0.3s;
}

.titleDone {
  text-decoration: line-through;
}

#error {
  color: #ff0000; /* Vermelho */
  font-size: 0.8rem; /* 13px / 16px = 0.8rem */
  margin-bottom: 1.25rem; /* 20px / 16px = 1.25rem */
}

.hidden {
  display: none;
}

#editModal {
  display: none;
}

#modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000080; /* Tom de preto semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
}

#back-button {
  margin-top: 20px;
  text-align: center;
}

#back-button a {
  text-decoration: none;
}

#back-button button {
  background-color: #007bff; /* Azul */
  color: #fff; /* Branco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#back-button button:hover {
  background-color: #0056b3; /* Azul mais escuro */
}
